body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-narrow-hero {
  width: 1116px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-narrow-features {
  width: 1130px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------HEADER ------------------------- */

.header {
  padding-top: 28px;
  padding-bottom: 28px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  margin-right: 447px;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-menu-item {
  display: flex;
  align-items: center;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  position: relative;
  transition: color 300ms linear;
}

.header-menu-link:hover {
  color: #fd9222;
}

.active::after {
  content: "";
  width: 100%;
  display: block;
  height: 4px;
  background-color: #fd9222;
  border-radius: 3px;
  position: absolute;
  lef: 0;
  bottom: -30px;
}

.header-soc-list {
  display: flex;
  margin-left: auto;
  gap: 18px;
}

.header-soc-item {
}

.header-soc-icon {
  fill: transparent;
  stroke: #fff;
}

.header-soc-link {
  width: 44px;
  height: 44px;
  background-color: #fd9222;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 300ms linear, stroke 300ms linear;
}

.header-soc-link:hover,
.header-soc-link:focus {
  background-color: aqua;
}

.header-soc-link:hover .header-soc-icon,
.header-soc-link:focus .header-soc-icon {
  stroke: #111;
}

/* ---------------------------MAIN--------------------- */

.hero {
  background-color: rgba(30, 24, 35, 0.4);
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url(../img/chocolate-covered-cocoa-powder\ 1.jpg);
  border-radius: 30px;
  padding-top: 381px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1200px;
  margin: 0 auto 72px;
  background-size: cover;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 14px 40px;
  background-color: #fd9222;
  border-radius: 100px;
  border: none;
  /* transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: linear; */
  transition: background-color 300ms linear, color 300ms linear;
}

.hero-btn:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid #fff;
}

.hero-link-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
}

.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  gap: 70px;
  margin-left: 18px;
  margin-right: 18px;
}

.features-item {
  width: calc((100% - 140px) / 3);
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.taste {
  padding-top: 100px;
  padding-bottom: 100px;
}

.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  max-width: 411px;
  margin: 0 auto 28px;
}

.taste-title-color {
  color: #fd9222;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto 50px;
}

.taste-list {
  display: flex;
  gap: 19px;
}

.taste-item {
  border: 1px solid #fd9222;
  border-radius: 15px;
  width: 270px;
  height: 270px;
  padding: 28px 32px;
  width: calc((100% - 57px) / 4);
}

.taste-item:hover .taste-cover-text {
  transform: translateY(0);
}

.taste-cover-wrapper {
  position: relative;
  overflow: hidden;
}

.taste-item-img {
  margin-bottom: 36px;
}

.taste-cover-text {
  position: absolute;
  background-color: #fd9222;
  color: #fff;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.taste-item-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.made {
  padding-bottom: 50px;
}

.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 50px;
}

.made-title-color {
  color: #fd9222;
}

.made-img-list {
  display: flex;
  align-items: center;
}

.made-img {
  border-radius: 15px;
  margin-right: 20px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #111;
  margin-bottom: 28px;
}

.made-list {
}

.made-item {
  margin-bottom: 28px;
}

.made-item:last-child {
  margin-bottom: 0;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

.reviews {
  padding-top: 50px;
  padding-bottom: 100px;
}

.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  margin-bottom: 50px;
}

.reviews-title-color {
  color: #fd9222;
}

.reviews-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
  align-items: center;
}

.reviews-item {
  width: calc((100% - 56px) / 3);
}

.reviews-item-img {
  margin: 0 auto 18px;
}

.reviews-item-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 20px;
}

.reviews-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  max-width: 312px;
  margin: 0 auto;
}

.review-btn {
  display: block;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  max-width: 222px;
  margin: 0 auto;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  transition: background-color 300ms linear, color 300ms linear;
}

.review-btn:hover,
.review-btn:focus {
  background-color: #fd9222;
  color: #fff;
}

/* ------------------------FOOTER------------------------ */
.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}

.footer-title span {
  color: #fd9222;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  margin-bottom: 14px;
}

.footer-address {
}

.footer-contacts {
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 74px; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
  margin-bottom: 24px;
}

.footer-list {
}

.footer-item {
  margin-bottom: 4px;
}
.footer-item:last-child {
  margin-bottom: 0;
}

.footer-link {
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-navigation {
}

.footer-menu-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-menu-item {
}

.footer-menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 500ms linear;
}

.footer-menu-link:hover {
  color: #fd9222;
}

.footer-form {
  display: flex;
}

.footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  width: 313px;
  height: 52px;
  background-color: transparent;
  margin-right: 8px;
}

.footer-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  /* padding: 17px 32px; */
  width: 137px;
  height: 52px;
  background-color: #fd9222;
  border: none;
  /* text-align: center; */
}

/* ---------------------------------MODAL--------------------------- */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  border-radius: 15px;
  width: 517px;
  min-height: 794px;
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-open {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 26px;
  top: 26px;
  background-color: transparent;
  border: none;
}

.modal-title {
  max-width: 298px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 40px;
}

.modal-title span {
  color: #fd9222;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  height: 68px;
  background-color: transparent;
  padding-left: 62px;
  outline: transparent;
  transition: border-color 300ms linear;
}

.modal-input:focus {
  border-color: #fd9222;
}

.input-wrapper {
  position: relative;
}

.modal-icon {
  fill: transparent;
  stroke: #111;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 300ms linear;
}

.modal-input:focus + .modal-icon {
  stroke: #fd9222;
}

.modal-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: block;
  margin-bottom: 8px;
}

.modal-textarea {
  resize: none;
  width: 100%;
  height: 137px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  background-color: transparent;
  padding: 22px 24px;
  outline: transparent;
  transition: border-color 300ms linear;
}

.modal-textarea:focus {
  border-color: #fd9222;
}

.modal-textarea::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.checkbox-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  display: flex;
  align-items: center;
  gap: 12px;
}

.checkbox-text span {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}

.modal-checkbox-icon {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-check:checked + .checkbox-text .modal-checkbox-icon {
  background-color: #fd9222;
  border: none;
  fill: #fff;
}
